<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    body{
        text-align:center;
        color:purple;
        background-color:lavender;

    }
p{
    background-color:purple;
    color:white;
    padding:20px;
 }
 a{
    color:Blue;
    font-size:30px;
    }
</style>

</head>
<body>
<h1>
    Welcome To Kawaii Paradise✨🔒
</h1>
<h3>
    Kindly register with a safe and secure username and password to log in and explore our exclusive collection of kawaii items.
</h3>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="path3">Please register here if this is your first visit to Kawaii Paradise.</a></button>
<br>
<br>
<br>
<br>
<br>
<br>
    <p>&copy; 2025 The Kawaii Paradise. All rights reserved.</p>
</footer>

</body>
</html>